In [14]:
import sys
sys.path.append('..')
from config_notebooks import *
from cosmos.cosmosdbmanager import CosmosDBManager
import pandas as pd

In [15]:
cosmos_db_manager = CosmosDBManager(endpoint=COSMOSDB_ENDPOINT,
                                    key=COSMOSDB_KEY,
                                    database_id=COSMOSDB_DATABASE_NAME,
                                    container_id=COSMOSDB_CONTAINER_NAME)

In [16]:
items = cosmos_db_manager.read_items("SELECT * FROM c where c.processed = true")

In [17]:
li = []

In [18]:
for item in items:
    li.append(item["filename"])

In [19]:
df = pd.DataFrame(li, columns=["filename"])

In [20]:
df

      filename
0  BIOTECH.pdf